{# API #}
{%- set _class = props.class | default(null) -%}
{%- set _id = props.id | default(null) -%}
{%- set _isChecked = props.isChecked | default(false) | boolprop -%}
{%- set _isDisabled = props.isDisabled | default(false) | boolprop -%}
{%- set _isItem = props.isItem | default(false) | boolprop -%}
{%- set _isLabelHidden = props.isLabelHidden | default(false) | boolprop -%}
{%- set _label = props.label -%}
{%- set _unsafeLabel = props.UNSAFE_label | default(null) -%}
{%- set _name = props.name | default(null) -%}
{%- set _value = props.value | default(null) -%}
{%- set _helperText = props.helperText | default(null) -%}
{%- set _unsafeHelperText = props.UNSAFE_helperText | default(null) -%}
{%- set _validationState = props.validationState | default(null) -%}

{# Class names #}
{%- set _rootClassName = _spiritClassPrefix ~ 'RadioField' -%}
{%- set _inputClassName = _spiritClassPrefix ~ 'RadioField__input' -%}
{%- set _labelClassName = _spiritClassPrefix ~ 'RadioField__label' -%}
{%- set _labelHiddenClassName = _isLabelHidden ? _spiritClassPrefix ~ 'RadioField__label--hidden' : null -%}
{%- set _rootDisabledClassName = _isDisabled ? _spiritClassPrefix ~ 'RadioField--disabled' : null -%}
{%- set _rootItemClassName = _isItem ? _spiritClassPrefix ~ 'RadioField--item' : null -%}
{%- set _textClassName = _spiritClassPrefix ~ 'RadioField__text' -%}
{%- set _helperTextClassName = _spiritClassPrefix ~ 'RadioField__helperText' -%}
{%- set _rootValidationStateClassName = _validationState ? _spiritClassPrefix ~ 'RadioField--' ~ _validationState : null -%}

{# Attributes #}
{%- set _checkedAttr = _isChecked ? 'checked' : null -%}
{%- set _disabledAttr = _isDisabled ? 'disabled' : null -%}
{%- set _valueAttr = _value ? 'value=' ~ _value : null -%}
{%- set _idAttr = _id ? 'id=' ~ _id : null -%}
{%- set _labelForAttr = _id ? 'for=' ~ _id : null -%}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _rootDisabledClassName, _rootItemClassName, _rootValidationStateClassName, _class ] -%}
{%- set _labelClassName = [ _labelClassName, _labelHiddenClassName ] -%}
{%- set _mainPropsWithoutId = props | filter((value, prop) => prop != 'id') -%}

<label {{ _labelForAttr }} {{ mainProps(_mainPropsWithoutId) }} {{ classProp(_classNames) }}>
    <input
        {{ inputProps(props) }}
        type="radio"
        name="{{ _name }}"
        class="{{ _inputClassName }}"
        {{ _idAttr }}
        {{ _checkedAttr }}
        {{ _disabledAttr }}
        {{ _valueAttr }} {# Intentionally without `raw` to prevent XSS. #}
    />
    <span class="{{ _textClassName }}">
        <span {{ classProp(_labelClassName) }}>{% if _unsafeLabel %}{{ _unsafeLabel | raw }}{% else %}{{ _label }}{% endif %}</span>
        {% if _helperText and not _unsafeHelperText %}<span class="{{ _helperTextClassName }}">{{ _helperText }}</span>{% endif %}
        {% if _unsafeHelperText %}<span class="{{ _helperTextClassName }}">{{ _unsafeHelperText | raw }}</span>{% endif %}
    </span>
</label>
