{% set className = 'lmc-Button' %}
{% set _color = (props.color is defined) ? ' ' ~ className ~ '--' ~ props.color : ' ' ~  className ~ '--secondary' %}
{% set _block = (props.block is defined) ? ' ' ~ className ~ '--block' : '' %}
{% set _type = (props.type is defined) ? props.type : 'button' %}
{% set _disabled = (props.disabled is defined) ? ' disabled="true"' : '' %}
{% set _ariaLabel = (props['ariaLabel'] is defined) ? ' aria-label="'~ props['ariaLabel'] ~'"' : '' -%}

<button class="{{ className }}{{ _color }}{{ _block }}" type="{{ _type }}"{{ _disabled|raw }}{{ _ariaLabel|raw }}>
    {%- block content %}{% endblock %}
</button>