{% set customItems = [
    {
        title: 'Root',
        url: '#rootUrl',
    },
    {
        title: 'Category',
        url: '#categoryUrl',
    },
    {
        title: 'Subcategory',
        url: '#subcategoryUrl',
    },
    {
        title: 'Current page',
        url: '#currentUrl',
    },
] %}

<Breadcrumbs>
    {% apply spaceless %}
        <ol>
            {% for item in customItems %}
                {% if loop.index is same as(customItems|length - 1) %}
                    <li class="d-tablet-none">
                        <Link href="{{ item.url }}" color="primary" underlined="always">{{ _goBackTitle }}</Link>
                    </li>
                {% endif %}
                <li class="d-none d-tablet-flex">
                    <Link
                        href="{{ item.url }}"
                        color="{{ loop.last ? 'secondary' : 'primary' }}"
                        underlined="{{ loop.last ? 'hover' : 'always' }}"
                        aria-current="{{ loop.last ? 'page' : 'false' }}"
                    >{{ item.title }}</Link>
                </li>
            {% endfor %}
        </ol>
    {% endapply %}
</Breadcrumbs>
