{# API #}
{%- set _class = props.class | default(null) -%}
{%- set _closeLabel = props.closeLabel | default('Close') -%}
{%- set _id = props.id | default(null) -%}
{%- set _isDismissible = props.isDismissible | default(false) | boolprop -%}
{%- set _placement = props.placement | default('bottom') -%}

{# Class names #}
{%- set _arrowClassName = _spiritClassPrefix ~ 'Tooltip__arrow' -%}
{%- set _closeClassName = _spiritClassPrefix ~ 'Tooltip__close' -%}
{%- set _rootClassName = _spiritClassPrefix ~ 'Tooltip' -%}
{%- set _rootDismissibleClassName = _isDismissible == 'true' ? _spiritClassPrefix ~ 'Tooltip--dismissible' : null -%}
{%- set _rootPlacementClassName = _spiritClassPrefix ~ 'Tooltip--' ~ _placement -%}

{# Attributes #}
{%- set _idAttr = _id ? 'id="' ~ _id ~ '"' : null -%}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _rootPlacementClassName, _rootDismissibleClassName, _class ] -%}
{%- set _mainPropsWithoutId = props | filter((value, prop) => prop != 'id') -%}

<div
    {{ mainProps(_mainPropsWithoutId) }}
    {{ classProp(_classNames) }}
    {{ _idAttr }}
>
    {% block content %}{% endblock %}
    {% if _isDismissible == 'true' %}
        <button
            type="button"
            class="{{ _closeClassName }}"
            data-dismiss="tooltip"
            data-target="#{{ _id }}"
            aria-controls="{{ _id }}"
            aria-expanded="true"
        >
            <span class="accessibility-hidden">{{ _closeLabel }}</span>
        </button>
    {% endif %}
    <span class="{{ _arrowClassName }}"></span>
</div>
