{% set _className = _spiritClassPrefix ~ 'Button' %}
{% set _color = (props.color is defined) ? ' ' ~ _className ~ '--' ~ props.color : ' ' ~  _className ~ '--primary' %}
{% set _block = (props.block is defined) ? ' ' ~ _className ~ '--block' : '' %}
{% set _square = (props.square is defined) ? ' ' ~ _className ~ '--square' : '' %}
{% set _type = (props.type is defined) ? props.type : 'button' %}
{% set _disabled = (props.disabled is defined) ? ' disabled="true"' : '' %}
{% set _ariaLabel = (props.ariaLabel is defined) ? ' aria-label="'~ props.ariaLabel ~'"' : '' -%}
{% set _onClick = (props.onClick is defined) ? ' onclick="'~ props.onClick ~'"' : '' -%}

<button class="{{ _className }}{{ _color }}{{ _block }}{{ _square }}" type="{{ _type }}"{{ _disabled|raw }}{{ _ariaLabel|raw }}{{ _onClick|raw }}>
  {%- block content %}{% endblock %}
</button>
