{% set _className = _spiritClassPrefix ~ 'Button' %}
{% set _color = (props.color is defined) ? ' ' ~ _className ~ '--' ~ props.color : ' ' ~  _className ~ '--primary' %}
{% set _block = (props.isBlock is defined and props.isBlock == 'true' ) ? ' ' ~ _className ~ '--block' : '' %}
{% set _square = (props.isSquare is defined and props.isSquare == 'true' ) ? ' ' ~ _className ~ '--square' : '' %}
{% set _href = (props.href is defined) ? props.href : '#' %}
{% set _title = (props.title is defined) ? ' title="' ~ props.ariaLabel ~ '"' : '' %}
{% set _target = (props.target is defined) ? ' target="' ~ props.target ~ '"' : '' %}
{% set _disabledClass = (props.isDisabled is defined and props.isDisabled == 'true') ? ' ' ~ _className ~ '--disabled' : '' %}
{% set _ariaLabel = (props.ariaLabel is defined) ? ' aria-label="' ~ props.ariaLabel ~ '"' : '' %}
{% set _onClick = (props.onClick is defined) ? ' onclick="' ~ props.onClick ~'"' : '' %}
{% set _class = (props.class is defined) ? ' ' ~  props.class : '' -%}

<a{{ mainProps(props)|raw }} href="{{ _href }}"{{ _title|raw }} class="{{ _className }}{{ _color }}{{ _block }}{{ _square }}{{ _class }}{{ _disabledClass }}"{{ _ariaLabel|raw }}{{ _target|raw }}{{ _onClick|raw }}>
    {%- block content %}{% endblock %}
</a>
