{% set _rootClassName = _spiritClassPrefix ~ 'Header__mobileOnlyActions' %}
{% set _iconClassName = _spiritClassPrefix ~ 'Header__icon' %}
{% set _class = (props.class is defined) ? props.class : '' %}
{% set _label = (props.label is defined) ? props.label : 'Menu' %}

{# Miscellaneous #}
{%- set _classNames = [ _rootClassName, _class ] -%}

<div {{ classProp(_classNames) }}>
    <Button color="{{ props.color is defined ? props.color : 'inverted' }}" isSquare type="button" aria-expanded="false" aria-controls="{{ props.ariaControls is defined ? props.ariaControls : '' }}">
        <span class="{{ _iconClassName }} {{ _iconClassName }}--menu" aria-hidden="true"></span>
        <span class="accessibility-hidden">{{ _label }}</span>
    </Button>
</div>
