{% set _className = _spiritClassPrefix ~ 'Tag' %}
{% set _color = (props.color is defined) ? props.color : 'default' %}
{% set _theme = (props.theme is defined) ? '-' ~ props.theme : '-dark' %}
{% set _class = (props.class is defined) ? ' ' ~  props.class : '' -%}

<span class="{{ _className }} {{ _className }}--{{ _color }}{{ _theme }}{{ _class }}">
{%- block content %}{% endblock %}
</span>
